In [2]:
!docker volume create portainer_data

portainer_data

In [3]:
!docker run -d -p 9001:9000 -p 8001:8000 -p 9443:9443 --name portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer-ce:latest

b92394988c339f17e1fee490ca8fcc12578a268f3e4bf173753c79634f4d2816

In [5]:
!ifconfig | grep 192

        inet 192.168.0.45  netmask 255.255.255.0  broadcast 192.168.0.255
        inet 192.168.0.43  netmask 255.255.255.0  broadcast 192.168.0.255

In [6]:
!docker ps

CONTAINER ID   IMAGE                           COMMAND                  CREATED              STATUS                        PORTS                                                                                                                             NAMES
c4d2ccaddd14   mysql/mysql-server:5.7          "/entrypoint.sh mysqâ€¦"   About a minute ago   Up About a minute (healthy)   0.0.0.0:3306->3306/tcp, :::3306->3306/tcp, 33060/tcp                                                                              petwatch-db
b92394988c33   portainer/portainer-ce:latest   "/portainer"             4 minutes ago        Up 4 minutes                  0.0.0.0:9443->9443/tcp, :::9443->9443/tcp, 0.0.0.0:8001->8000/tcp, :::8001->8000/tcp, 0.0.0.0:9001->9000/tcp, :::9001->9000/tcp   portainer

In [9]:
# Acessa o container e cria o banco de dados
!docker exec -it c4d2ccaddd14 mysql -h 172.17.0.3 -u root -p -e "CREATE DATABASE petwatch;"

Enter password:
ERROR 1045 (28000): Access denied for user 'root'@'172.17.0.3' (using password: YES)

In [ ]:
Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

mysql> CREATE DATABASE petwatch-db;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '-db' at line 1
mysql> CREATE DATABASE petwatch-db
    -> ;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '-db' at line 1
mysql> CREATE DATABASE petwatch;
Query OK, 1 row affected (0.00 sec)

mysql>